/*
*
*	Base and utility classes
*
*/
body{
	padding: 0px;
	margin: 0px;
	background: #f2ecdf url('images/ricepaper_v3.png') 50% 50%;
	color: #333;

	/* 
	*
	*  -  font-family: 'Roboto Slab', serif;
	*  -  font-family: 'Roboto', sans-serif;
	*
	*/

	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.pure-g, .pure-g-r {
    font-family: Arial;
}

.clear-fix:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.center{
	position: relative;
	max-width: 960px;
	margin: 0px auto;
}

.lap{
	margin: 100px 0px 0px 0px;
	height: 42px;
	background: url('images/lap.png');
}

h1{

}

h2{

}

h3{
	
}

div.break{
	height: 0px;
	margin: 0px 0px 20px 0px;
	border-bottom: dotted 2px rgba(0,0,0,.3);
}

a{ 
	color: #17669b;
	text-decoration: none;
}

a img{
	border: 0px none;
}

/*
*
*	Our nav and top bar
*
*/
.nav{
	height: 4px;
	background: #8c9a76;

	color: #fff;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;

	z-index: 100;
}

.nav .menu{
	position: absolute;
	top: -50px;

	list-style: none;
	padding: 0px;
	margin: 0px auto;

	width: 300px;
}

.menu li{
	float: left;
	display: block;
	width: 100px;
	height: 100px;

	line-height: 60px;
	text-align: center;
	font-size: 14px;

	border-radius: 50px;
	background-color: #8c9a76;
}

.menu li a{
	color: #fff;
}






/*
*
*	Trees
*
*/
.tree-left{
	position: fixed;
	bottom: -10px;
	left: -80px;

	width: 235px;
	height: 559px;
	
	background: url('images/tree_left.png');
}

.tree-right{
	position: fixed;
	bottom: -10px;
	right: -90px;

	width: 286px;
	height: 573px;
	
	background: url('images/tree_right.png');
}







/*
*
*	Our menu
*
*/
.header .title{
	float: left;
	line-height: 65px;
	font-size: 30px;
}

.header .menu{
	list-style: none;
	padding: 0px;
	margin: 16px 0px 0px 0px;
	
	height: 32px;
	float: right;
}

.header .menu li{
	float: left;
}

.header .menu a{
	color: #333;
}

.header .menu .text-item{
	margin: 0px 10px;
}

.header .menu .icon-item{
	margin-left: 5px;
}

.header .menu .text-item a{
	display: block;
	height: 32px;
	line-height: 32px;

	font-size: 16px;
	padding: 0px 15px;
}

.header .menu .text-item a.active{
	border-radius: 4px;
	background-color: rgba(0,0,0,.05);
}

.header .menu .icon-item a{
	font-size: 30px;
	position: relative;
}




/*
*
*	Simple cols
*
*/
.col-2{
	float: left;
	width: 47%;
	margin-right: 6%;
}

.col-2:last-of-type{
	margin-right: 0;
}



.col-3{
	float: left;
	width: 30%;
	margin-right: 5%;
}

.col-3-2{
	width: 60%;
}

.col-3:last-of-type{
	margin-right: 0;
}





.post-fold{
	position: relative;
	z-index: 1;

	border-top: dotted 3px #555;
	background: #f2ecdf url('images/ricepaper_v3.png') 50% 50%;
}



/*
*
*	What section
*
*/
.what{
	position: relative;
	overflow: hidden;
	z-index: 0;
}

.what .content-layer,
.what .mountains,
.what .trees,
.what .avatars{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.mountains{
	z-index: 1;
}

.what .trees{
	z-index: 2;
	background: url('images/trees.png') 50% 100% no-repeat;
}

.what .avatars{
	z-index: 2;
	background: url('images/avatars.png') 50% 100% no-repeat;
}

.what .content-layer{
	z-index: 3;
}

.what .mountains img{
	position: absolute;
	left: 0px;
	bottom: 0px;
	max-width: 100%;
}

.what .text-wrap{
	position: absolute;
	width: 1px;
	height: 1px;
	top: 20px;
	left: 50%;
}

.what .text{
	position: absolute;
	top: 20px;
	
	width: 725px;
	height: 319px;
	background-image: url('images/text.png');
	background-size: cover;
}

.what .text.small{

	height: 240px;
}





/*
*
*	Where section
*
*/
.Where{
	font-family: 'Roboto Slab', serif;
	padding: 50px 0px;
	/*background: rgba(199,218,186,.7);*/ /*#C7DABA;*/ /* url('images/green_cup.png'); */
}

.where h1, .where h2{
	/*color: #2b4763;*/
}





/*
*
*	When section
*
*/
.details{
	font-family: 'Roboto Slab', serif;
	padding: 50px 0px;
}

.details .section{
	padding-bottom: 30px;
}

.details .section h2{
	padding: 0px 0px 10px 0px;
	margin: 0px;
}

.details .section h3{
	padding: 0px 0px 10px 0px;
	margin: 0px;
}

/*
*
*	Footer section
*
*/
.footer{
	padding: 50px 0px;
	background-color: rgba(0,0,0,.4);
	border-top: solid 1px #d8d8d8;

	color: #fff;
	text-align: center;
}

.footer ul{
	list-style: none;
	padding: 10px 0px 0px 0px;
	margin: 0px;
}

.footer .left{
	font-size: 12px;
}

.footer .middle{
	text-align: center;
	font-size: 20px;
	color: #888;
}

.footer .right{
	text-align: right;
}

.footer .right a{
	color: #666;
	font-size: 40px;
}